<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Home Page</title>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/user/home">ATH System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/user/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/user/addath">Add ATH</a>
      </li>
    </ul>
  </div>
  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..."
           aria-label="Search" width="100px">
  </form>
  <div>
    <a href="/user/">
      <button type="button" class="btn btn-outline-light me-2">Your account</button>
    </a>
  </div>
  <div>
    <a href="/logout">
      <button type="button" class="btn btn-outline-light me-2">Logout</button>
    </a>
  </div>
</nav>
<!-- Navbar -->
<div th:if=${session.msg}>
  <div class="alert alert-success" role="alert" th:text="${session.msg}">
  </div>
  <th-block th:text="${#session.removeAttribute('msg')}"></th-block>
</div>
<div class="container p-5">
  <table class="table table-striped">
    <thead class="bg-primary text-white">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col" style="width: 108px;text-align: center;">Birth</th>
      <th scope="col">Phone Number</th>
      <th scope="col">ID card</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="a: ${ath}">
      <th th:text="${a.maVDV}"></th>
      <td th:text="${a.hoTen}"></td>
      <td th:text="${a.gioiTinh}"></td>
      <td th:text="${a.ngaySinh}"></td>
      <td th:text="${a.dienThoai}"></td>
      <td th:text="${a.cccd}"></td>
      <td th:text="${a.diaChi}"></td>
      <td>
        <a class="btn btn-sm btn-primary" th:href="@{/user/edit/{maVDV}(maVDV=${a.maVDV})}">Edit</a>
        <a class="btn btn-sm btn-danger" th:href="@{/user/delete/{maVDV}(maVDV=${a.maVDV})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>